.loading{
    background: rgb(255, 255, 255) url(./images/Loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.loading span{
    display: flex;
    margin: 250px auto;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.9);
   
}
